@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Changa:wght@200..800&display=swap');
@import "tailwindcss";



@variant dark (&:where(.dark, .dark *));

@theme {
  --animate-loading: loading 1.5s linear infinite;

  @keyframes loading {
    from {
      transform: translateY(-150px)
    }

    to {
      transform: translateY(150px)
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:"Changa", sans-serif;
}


.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}